.navigation-link::after {
	@apply bg-red-700;
	content: "";
	display: block;
	width: 0;
	height: 3px;
	margin-top: 0.5rem;
	transition: width 0.3s ease-in-out;
}

.navigation-link:hover::after {
	width: 100%;
}

.navigation-currentRoute::after {
	@apply bg-red-700;
	content: "";
	display: block;
	width: 0;
	height: 3px;
	margin-top: 0.5rem;
	width: 100%;
}
