@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./font/index.css";

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

html {
	@apply bg-dark-700 scroll-smooth;
}

body {
	@apply m-0 p-0;
}

a {
	background-color: transparent;
	text-decoration: none;
	-webkit-text-decoration-skip: objects;
}

ul {
	margin: 0;
	padding: 0;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.shrink-animation {
	@apply hover:scale-95 transform transition-transform duration-200 ease-in-out;
}

.grow-animation {
	@apply hover:scale-105 transform transition-transform duration-200 ease-in-out;
}

/* 


	Page side
*/
/* Padding */
.px-page {
	@apply px-10 md:px-24 lg:px-36 xl:px-40 2xl:px-80;
}

.pl-page {
	@apply pl-10 md:pl-24 lg:pl-36 xl:pl-40 2xl:pl-80;
}

.pr-page {
	@apply pr-10 md:pr-24 lg:pr-36 xl:pr-40 2xl:pr-80;
}
/* Margin */
.mx-page {
	@apply mx-10 md:mx-24 lg:mx-36 xl:mx-40 2xl:mx-80;
}

.ml-page {
	@apply ml-10 md:ml-24 lg:ml-36 xl:ml-40 2xl:ml-80;
}

.mr-page {
	@apply mr-10 md:mr-24 lg:mr-36 xl:mr-40 2xl:mr-80;
}
/* 


	Page top
*/
/* Padding */
.py-page {
	@apply py-52 md:py-80 lg:py-64 xl:py-80 2xl:py-[17vh];
}

.pt-page {
	@apply pt-52 md:pt-80 lg:pt-64 xl:pt-80 2xl:pt-[17vh];
}

.pb-page {
	@apply pb-52 md:pb-80 lg:pb-64 xl:pb-80 2xl:pb-[17vh];
}
/* Margin */
.my-page {
	@apply my-52 md:my-80 lg:my-64 xl:my-80 2xl:my-[17vh];
}

.mt-page {
	@apply mt-52 md:mt-80 lg:mt-64 xl:mt-80 2xl:mt-[17vh];
}

.mb-page {
	@apply mb-52 md:mb-80 lg:mb-64 xl:mb-80 2xl:mb-[17vh];
}
/* 


	Section top
*/
/* Padding */
.py-section {
	@apply py-16;
}

.pt-section {
	@apply pt-16;
}

.pb-section {
	@apply pb-16;
}

.my-page {
	@apply my-48 xl:my-52;
}
/* Margin */
.mt-page {
	@apply mt-60;
}

.mb-page {
	@apply mb-60;
}

.my-section {
	@apply my-16;
}

.mt-section {
	@apply mt-16;
}

.mb-section {
	@apply mb-16;
}
